{% extends "layout.html" %}
{% load static %}
{% block title %}
  startpage
{% endblock %}

{% block content %}
<!-- button으로 변경-->
  <p class="'title">위성데이터 및 CCTV를 활용한 제주 특정 지역 쓰레기 발생량 기반 POI 추천 플랫폼</p>

  <!-- 지도를 표시할 div 입니다 -->
  <div id="map" style="width:75%; height:800px;"></div>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3bfa0cecde5be410aab6353aea6bfc2c"></script>
  <script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = { 
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 9 // 지도의 확대 레벨
      };

  // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
  var map = new kakao.maps.Map(mapContainer, mapOption); 
  </script>

  <!-- 함께하기 버튼 -->
  <div class="button">
    <a href="/map/jeju_map">
    <img src="{% static 'images/Group_8.png' %}" />
    </a>
  </div> 
  </script>
  {% endblock %}
